<header>

  <nav class="flex items-center justify-between flex-wrap bg-gray-900 text-xl">
    <div class="flex items-center flex-shrink-0">
      <a href="{{.Site.BaseURL}}"><img src="{{.Site.BaseURL}}/logo.png" width="80px" height="55px"
          alt="logo mouret.pro" /></a>
    </div>
    <input class="hidden" type="checkbox" id="menu-icon">
    <label for="menu-icon" class="lg:hidden h-10 w-10">
      <svg class="text-green-500 fill-current" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512"
        style="enable-background:new 0 0 512 512;" xml:space="preserve">
        <g>
          <g>
            <path
              d="M492,236H20c-11.046,0-20,8.954-20,20c0,11.046,8.954,20,20,20h472c11.046,0,20-8.954,20-20S503.046,236,492,236z" />
          </g>
        </g>
        <g>
          <g>
            <path d="M492,76H20C8.954,76,0,84.954,0,96s8.954,20,20,20h472c11.046,0,20-8.954,20-20S503.046,76,492,76z" />
          </g>
        </g>
        <g>
          <g>
            <path d="M492,396H20c-11.046,0-20,8.954-20,20c0,11.046,8.954,20,20,20h472c11.046,0,20-8.954,20-20
			C512,404.954,503.046,396,492,396z" />
          </g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
      </svg>
    </label>
    {{ with .Site.Menus.main }}
    <ul id="menu-bar"
      class="hidden w-full text-center block flex-grow lg:flex lg:items-center lg:w-auto lg:justify-end">
      {{ range . }}
      <li class="block mt-4 lg:inline-block lg:mt-0 text-green-400 hover:text-white mr-4">
        <a href="{{ .URL }}" title="{{ .Name }} page">
          {{ .Name }}
        </a>
      </li>
      {{ end }}
    </ul>
    {{ end }}
  </nav>
</header>