header {
    color: white;
    &.header-main {
        padding: 1rem;
        display: block;
        text-align: center;
        clip-path: polygon(0 0, 100% 0, 100% calc(100% - 3em), 0 100%);
        background: linear-gradient(transparent, rgba(0, 0, 0, 0.5)), url(/images/header.jpg) bottom/cover;
    }
    .promo {
        padding: 3rem;
        font-size: 150%;
    }
}