#main-nav {
  ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    a {
      display: block;
      padding: 0 1em;
      border-radius: 2em;
      line-height: 2;
      color: white;
      text-decoration: none;
    }
    li {
      border-bottom: solid 1px rgba(255, 165, 0, 0);
      &.active,
      &:hover {
        border-bottom: solid 1px orange;
      }
      &.logo {
        display: flex;
        align-items: center;
      }
    }
  }
}
