<section>
    <ol id="posts">
        <% site.posts.each(function(item){ %>
            <%- partial('_partial/article-excerpt', {item: item}) %>
                <% }); %>
                    <%- partial('_partial/pagination') %>
    </ol>
</section>