<section id="contact">
    <h1>Formulaire de contact</h1>
    <i>Si vous avez une question n'hésitez pas à utiliser le formulaire, j'y répondrai le plus rapidement possible.</i>
    <%- partial('_partial/form-contact', {}, {cache: true}) %>
</section>