<footer>
    <p>Th&egrave;me fait main par <a href="https://twitter.com/sebMouret">@sebMouret</a>.</p>
    <p>Site statique propuls&eacute; par <a href="https://hexo.io/">Hexo</a>.</p>
    <form method="get" id="search" action="http://duckduckgo.com/">
        <input type="hidden" name="sites" value="YOURDOMAIN.COM" />
        <input type="hidden" name="k8" value="#444444" />
        <input type="hidden" name="k9" value="#D51920" />
        <input type="hidden" name="kt" value="h" />
        <input type="text" name="q" maxlength="255" placeholder="Search&hellip;" />
        <input type="submit" value="DuckDuckGo Search" style="visibility: hidden;" />
    </form>
</footer>