<form name="contact" netlify-honeypot="bot-field" action="/success.html" netlify>
    <p class="is-hidden">
        <label>Don’t fill this out: <input name="bot-field"></label>
    </p>
    <p>
        <label class="visually-hidden" for="email">Votre Email: </label>
        <input autofocus id="email" placeholder="Votre Email" type="text" name="name">
    </p>
    <p>
        <label class="visually-hidden" for="msg">Message: </label>
        <textarea id="msg" placeholder="Votre message..." name="message"></textarea>
    </p>
    <p>
        <input type="submit" value="Envoyer">
    </p>
</form>