<nav id="main-nav">
    <ul>
        <li><a href="<%- config.root + 'cv' %>">CV</a></li>
        <li><a href="<%- config.root + 'blog' %>">Blog</a></li>
        <li>
            <a href="https://gitlab.com/isebmo"><i class="fa fa-gitlab" aria-hidden="true"></i>&nbsp;</a>
        </li>
        <li>
            <a href="https://github.com/isebmo"><i class="fa fa-github" aria-hidden="true"></i>&nbsp;</a>
        </li>
    </ul>
</nav>