{{ define "main" }}
{{ $mdurl := findRE `\((.*)\)` .Params.fimg}}
{{ $featured_image := (trim .Params.fimg "/") | relURL }}

{{ if gt (len $mdurl) 0}}
{{ $mdurl = replace (index $mdurl 0) "(" ""}}
{{ $mdurl = replace $mdurl ")" ""}}
{{ $featured_image = print .Permalink (trim $mdurl "") }}
{{end}}

<article id="article-single" class="mt-6">
    <header>
        <h1 class="text-center">{{.Title}}</h1>
        <div class="text-center">{{partial "date" .}}</div>
        <ul class="text-center mb-3">
            {{with .Params.categories}}
            {{range sort . "value" "asc"}}
            <li
                class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 hover:text-green-500">
                <a href="{{ "categories/" | relLangURL }}{{ . | urlize }}">{{.}}<a /></li>
            {{end}}
            {{end}}
        </ul>
        {{if .Params.fimg}}
        <img src="{{ $featured_image }}" class="img" alt="{{ .Title }}">
        {{end}}
    </header>
    {{if ne (print .TableOfContents) "<nav id=\"TableOfContents\"></nav>"}}
    <aside class="flex flex-col items-center mb-6">
        <h2 class="underline">Table des matières</h2>
        {{  .TableOfContents }}
    </aside>
    {{end}}
    <section class="text-xl">
        {{.Content}}
    </section>
    <footer class="text-center mb-6">
        {{ if eq .Section "post"}}
        <section id="comments">
            <h1 class="">Commentaires</h1>
            <div>{{ template "_internal/disqus.html" . }}</div>
        </section>
        {{ end }}
    </footer>
</article>

{{ end }}